# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/
ENV/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter
.ipynb_checkpoints

# Cache / models
*.dll
*.lib
*.so
*.bin
*.pt
*.pth
*.onnx
*.ckpt
*.h5
*.tflite

# Torch cache
backend/.torch_cache/
backend/torch_cache/
backend/models/

# Secrets
backend/.env
backend/serviceAccountKey.json
